<div class="go-top-container">

    <div class="go-top-button">
        <a href="https://api.whatsapp.com/send/?phone=933059280" style="color: white;">
            <img src="https://img.icons8.com/?size=100&id=16712&format=png&color=FFFFFF" alt="">
        </a>

    </div>
</div>
<footer class="footer">
    <div class="contenedor contenido-footer bg-white">
        <div class="footer-box ubicacion">
            <h3>Ubicación</h3>
            <p>Jirón Recuay 688</p>
            <p>Breña, Lima</p>
        </div>
        <div class="footer-box reservacion">
            <h3>Reservación</h3>
            <p>Whatsapp: 933 059 280</p>
            <button type="button" class="btn" style="background-color: #5e311e;">
                <a href="https://api.whatsapp.com/send/?phone=933059280" style="color: white;">Llamar</a>

            </button>
            
        </div>
        <div class="footer-box horario">
            <h3>Horario</h3>
            <p>Lun-Jue: 11:00 - 22:00</p>
            <p>Vie-Sab: 09:00 - 24:00</p>
            <p>Domingo: cerrado</p>
        </div>
    </div>


    <p class="copyright">Todos los derechos reservados. &copy Daniel Zevallos Aguinaga - La Cafetería</p>
</footer>

