
<main class="contenedor contenido-principal">
    <h2><span>Conoce más</span> sobre nosotros</h2>

    <div class="contenido-nosotros">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/nosotros_sidebar.webp" 
                 type="image/webp">
                <source
                 srcset="assets/build/img/nosotros_sidebar.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/build/img/nosotros_sidebar.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum quam ex architecto consectetur quaerat quod qui sunt et soluta, placeat eaque repudiandae dolores magni perspiciatis dolor tempore? Minus, cupiditate?</p>

            <blockquote>Excelente sabor!</blockquote> <!-- es como una cita -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem harum quam ex architecto consectetur quaerat quod qui sunt et soluta, placeat eaque repudiandae dolores magni perspiciatis dolor tempore? Minus, cupiditate?</p>
        </div>
    </div>
</main>
