<main class="contenedor contenido-principal">
    <div class="proceso-cafe">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/proceso_1.webp" 
                 type="image/webp">
                <source
                 srcset="assets/build/img/proceso_1.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/build/img/proceso_1.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <h3>Granos de café</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum alias cumque ratione rem beatae natus aut, necessitatibus non! Eveniet odit magni voluptas nihil optio et nisi aperiam nesciunt harum quam!</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/proceso_2.webp" 
                 type="image/webp">
                <source
                 srcset="assets/build/img/proceso_2.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/build/img/proceso_2.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <h3>Tostar el café</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum alias cumque ratione rem beatae natus aut, necessitatibus non! Eveniet odit magni voluptas nihil optio et nisi aperiam nesciunt harum quam!</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/proceso_3.webp" 
                 type="image/wep">
                <source
                 srcset="assets/build/img/proceso_3.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/build/img/proceso_3.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <h3>Empacar el café</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum alias cumque ratione rem beatae natus aut, necessitatibus non! Eveniet odit magni voluptas nihil optio et nisi aperiam nesciunt harum quam!</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/proceso_4.webp" 
                 type="image/webp">
                <source
                 srcset="assets/build/img/proceso_4.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/assets/build/img/proceso_4.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <h3>Moler granos de café</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum alias cumque ratione rem beatae natus aut, necessitatibus non! Eveniet odit magni voluptas nihil optio et nisi aperiam nesciunt harum quam!</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <picture>
                <source
                 srcset="assets/build/img/proceso_5.webp" 
                 type="image/webp">
                <source
                 srcset="assets/build/img/proceso_5.jpg" 
                 type="image/jpeg">
                <img loading="lazy" decoding="async" src="assets/build/img/proceso_5.jpg" lazyalt="imagen" width="500" height="300">
            </picture>
        </div>
        <div class="texto">
            <h3>Disfrutar una taza</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum alias cumque ratione rem beatae natus aut, necessitatibus non! Eveniet odit magni voluptas nihil optio et nisi aperiam nesciunt harum quam!</p>
        </div>
    </div>
</main>
