
  
  <main class="contenedor contenido-principal text-center">
  
    <section class="conoce">
        <h2> <span>Conoce más</span> sobre nosotros </h2>
  
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloremque non sit aspernatur dicta beatae, voluptatem nobis nesciunt voluptates nam, repudiandae numquam iure dolores quam cupiditate obcaecati sequi cumque aperiam.</p>
    </section>
  
    <section class="iconos">
        <ul class="listado-iconos">
            <li>
                <img src="assets/build/img/icono_cafe.svg" alt="icono cafe">
                <p>Café</p>
            </li>
            <li>
                <img src="assets/build/img/icono_postre.svg" alt="icono postre">
                <p>Postres</p>
            </li>
            <li>
                <img src="assets/build/img/icono_te.svg" alt="icono té">
                <p>Té</p>
            </li>
        </ul>
    </section>
    <app-galeria></app-galeria>
  </main>
  
  <app-listado-compra></app-listado-compra>
  
  <section class="nuestros-testimoniales contenedor bg-white margin-negativo-10">
    <h2><span>Lo que dicen nuestros</span>Clientes</h2>
    <div class="testimonial">
        <p>Maquetación de la página: 08 febrero 2024. Diseño de la página: 21 febrero 2024. Uso de SASS, Gulp y CSS Grid junto a buenas prácticas para concluir la página web de manera correcta. Totalmente responsivo en celular, tablet, desktop y pantallas con alta densidad de pixeles.</p>
        <p class="autor">- Daniel Zevallos Aguinaga</p>
    </div>
  </section>

  

  