
<main class="contenedor contenido-principal padding-bottom-0">
    <h2><span>Utilizamos los </span>mejores ingredientes</h2>

    <div class="contenido-menu">
        <div class="texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde facilis veniam asperiores sit soluta a, placeat ut commodi quidem incidunt laboriosam totam quod reprehenderit temporibus aliquam porro eos blanditiis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quis. Fugit, explicabo obcaecati excepturi ipsum commodi corporis dolor necessitatibus. Harum porro officiis adipisci dolor culpa dolores minima impedit temporibus recusandae.</p>
        </div>

    </div>
</main>

<app-listado-compra></app-listado-compra>